h1 {text-align: center;}
head { 
    font-family: Arial; 
}
body {
    font-family: Arial;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Right {
    width: 40%;
    text-align: center;
}

.Left {
    width: 60%;

}

.clicked {
    stroke-width: 3px;
    stroke: rgb(178, 123, 229);
}

.hovered {
    fill: yellow
}