/* center all text */
h1 {text-align: center;}
h2 {text-align: center;}
ul {text-align: center; list-style-position: inside; } 

body {
    font-family: Arial;
}

/* styling for columns with correct proportions */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Right {
    width: 40%;
    text-align: center;
}

.Left {
    width: 60%;

}

/* styling for functionality */
.clicked {
    stroke-width: 3px;
    stroke: rgb(178, 123, 229);
}

.tooltip {
    position: absolute;
    background-color: rgb(180, 178, 178);
    border:  solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
  }